$accent: #333
$buttons: #acb9f1
$main-color: #a8f74e
$secondary: #79ff2b
$grey: #f5f5f5
$border-input: #dddddd
$border-card: #e8e8e8
$benefit-bg: #f7f7f7
$text-color: #000
$mains: #fffaae
$links: #fff236
$hover: #171ae5
